body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    background: black;
    overflow-x: hidden;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.blue {
    background: blue;
}

.red {
    background: red;
}

.pink {
    background: pink;
    color: black;
}

.green {
    background: green;
}

.curve {
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: black;
    transform: translate(85%, 60%);
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: blue;
    transform: translate(-4%, 40%);
    z-index: -1;
}

.bubble::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    height: 85%;
    width: 100%;
    background-color: green;
    z-index: -1;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 106px;
}

.wave .shape-fill {
    fill: green;
}